In [ ]:
%pip install pandas

In [ ]:
from utils import (
    list_select, # Returns a list of selected elements
    pd_select, # Returns a pandas dataframe of selected elements
    list_insert, # Inserts a list of elements
    pd_insert, # Inserts a pandas dataframe of elements
)

In [10]:
pd_select("SELECT * FROM orders ORDER BY paid_date DESC LIMIT 5 ")

   order_id   paid_date  order_total   site_name site_country currency
0   1249999  2023-12-31       478.17  stickerapp           de      EUR
1   1249998  2023-12-31        28.18  stickerapp           de      EUR
2   1249997  2023-12-31       642.12  stickerapp           se      SEK
3   1249996  2023-12-31       409.67  stickerapp           de      EUR
4   1249995  2023-12-31       590.95  stickerapp           se      SEK

In [11]:
pd_select("SELECT * FROM currency_exchange ORDER BY date DESC LIMIT 5 ")

   currency_to_sek        date currency             currency_description
0          13.0163  2024-01-10      GBP                   pound sterling
1           1.0000  2024-01-10      SEK  Used for inverted exchange rate
2          11.1970  2024-01-10      EUR                    Euroland euro
3           1.5013  2024-01-10      DKK                     Danish krone
4          10.2293  2024-01-10      USD                        US dollar