In [ ]:
%pip install pandas

In [1]:
from utils import (
    select,
    insert,
)

In [2]:
select(
    sql="SELECT * FROM orders ORDER BY paid_date DESC",
    params=(),
    return_as_pandas=True,
).head(5)

   order_id   paid_date  order_total   site_name site_country currency
0   1499999  2023-12-31       478.17  stickerapp           de      EUR
1   1499998  2023-12-31       505.67  stickerapp           de      EUR
2   1499997  2023-12-31       420.50  stickerapp           us      USD
3   1499996  2023-12-31       173.79  stickerapp           se      SEK
4   1499995  2023-12-31       150.37  stickerapp           de      EUR

In [3]:
select(
    sql = "SELECT * FROM currency_exchange ORDER BY date DESC", 
    params = (), 
    return_as_pandas=True
).head(5)

   currency_to_sek        date currency             currency_description
0          13.0163  2024-01-10      GBP                   pound sterling
1           1.0000  2024-01-10      SEK  Used for inverted exchange rate
2          11.1970  2024-01-10      EUR                    Euroland euro
3           1.5013  2024-01-10      DKK                     Danish krone
4          10.2293  2024-01-10      USD                        US dollar